# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

output/

changelog\.html

CompiledWith\.txt

SBM-Bread-Stone\.txt
